.timer {
  font-weight: 700;
  color: var(--color-text-dark);
}

/* Estilo para os números */
.timer span {
  font-family: 'Courier New', Courier, monospace;
}

.countdownExpired {
  font-weight: 700;
  color: #888; /* Cinza para indicar que acabou */
}